<!DOCTYPE html>
{% extends "projectx_app/base.html" %}
{% load static %}
{% block body_block %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog Directories</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">

  </head>
  <body class="background">
    <div class="ice">
        <h1 style="text-align:center">Hello There. Welcome to Project-X by IC3. Here is all our access records : </h1>

        {% if access_record %}
          <table>
            <thead>
              <th>Blog Title</th>
              <th>Date Accessed</th>
            </thead>

            {% for list in access_record %}
            <tr>
              <td>{{ list.description }}</td>
              <td>{{ list.date }}</td>
            </tr>
            {% endfor %}
          </table>

          {% else %}
          <p>IM SORRY, THERE'S NO RECORDS FOUND ;c</p>
          {% endif %}

    </div> <!--CONTAINER -->
  </body>
</html>
{% endblock %}
